{% extends "base.twig" %}

{% block breadcrumbs %}
<header id="page-site-lang-tech">
  <div class="container">
    <h2 class="page-header">{{subtitle}}</h2>
  </div>
</header>
{% endblock %}

{% block content %}

<section id="page-site-banner">
  <div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-8 col-sm-4 col-sm-offset-8" id="page-site-banner-overlay">
          {{logo}}
          <p>{{site.description}}</p>
      </div>
    </div>
  </div>
</section>

<section id="home_primary">

  <div class="container">
  	<div class="row">
      <div class="col-md-8 col-sm-8">
        {{post.content}}
      </div>
      <div class="col-md-4 col-sm-4">
		{{social_media}}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row trifold">
      <div class="col-md-4 col-sm-4">
        {{home_trio_1}}
      </div>
      <div class="col-md-4 col-sm-4">
        {{home_trio_2}}
      </div>
      <div class="col-md-4 col-sm-4">
        {{home_trio_3}}
      </div>
    </div>
  </div>

</section>

<aside id="testimonial">
  <div class="container fullwidth">
    {{home_testimonial}}
  </div>
</aside>

<section id="home_secondary">

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        {{section_faq_leader}}
      </div>
      <div class="col-md-6 col-sm-12">
        {{section_blog_recent}}
      </div>
    </div>
  </div>

</section>

{% endblock %}
